[uitwix-coloring-body] body {
  background-color: var(--uitwix-body-bgcolor);
}
[uitwix-coloring-sidebar] .sidebar {
  background-color: var(--uitwix-sidebar-bgcolor);
}
[uitwix-coloring-sidebar] .menu-main .submenu {
  background-color: var(--uitwix-sidebar-bgcolor);
}
[uitwix-coloring-sidebar] .menu-user .submenu {
  background-color: var(--uitwix-sidebar-bgcolor);
}
[uitwix-coloring-sidebar] .menu-main .submenu .submenu li a {
  background-color: var(--uitwix-sidebar-bgcolor);
}
[uitwix-coloring-sidebar] .menu-main > li.is-expanded > a,
[uitwix-coloring-sidebar] .menu-main > li.is-expanded > a:focus,
[uitwix-coloring-sidebar] .menu-main > li > a:hover,
[uitwix-coloring-sidebar] .menu-main > li > a:focus,
[uitwix-coloring-sidebar] .menu-main > li.is-selected > a,
[uitwix-coloring-sidebar] .menu-main .submenu > li.is-selected > a,
[uitwix-coloring-sidebar] .menu-main .submenu a:hover,
[uitwix-coloring-sidebar] .menu-main .submenu a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
[uitwix-coloring-sidebar] .menu-main .submenu a {
  background-color: rgba(0, 0, 0, 0.1);
}
[uitwix-coloring-sidebar] .menu-main .submenu > li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
[uitwix-coloring-sidebar] .menu-main .submenu .submenu li a:hover,
[uitwix-coloring-sidebar] .menu-main .submenu .submenu li a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
[uitwix-coloring-sidebar] .menu-user > li.is-expanded > a,
[uitwix-coloring-sidebar] .menu-user > li.is-expanded > a:focus,
[uitwix-coloring-sidebar] .menu-user > li > a:hover,
[uitwix-coloring-sidebar] .menu-user > li > a:focus,
[uitwix-coloring-sidebar] .menu-user > li.is-selected > a,
[uitwix-coloring-sidebar] .menu-user .submenu > li.is-selected > a,
[uitwix-coloring-sidebar] .menu-user .submenu a:hover,
[uitwix-coloring-sidebar] .menu-user .submenu a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
[uitwix-coloring-sidebar] .menu-user .submenu a {
  background-color: rgba(0, 0, 0, 0.1);
}
[uitwix-coloring-sidebar] .menu-user .submenu > li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
[uitwix-coloring-sidebar] .form-search .search {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.1);
}
[theme="blue-theme"] .uitwix-sticky {
  --nav-background: rgba(235, 238, 240, 0.8);
}
[theme="hc-light"] .uitwix-sticky {
  --nav-background: rgba(255, 255, 255, 0.7);
}
[theme="dark-theme"] .uitwix-sticky {
  --nav-background: rgba(14, 16, 18, 0.7);
}
[theme="hc-dark"] .uitwix-sticky {
  --nav-background: rgba(14, 16, 18, 0.7);
}
.uitwix-sticky {
  position: sticky !important;
  top: 0;
  z-index: 100;
  padding: 2px 0 !important;
  background-color: var(--nav-background) !important;
}
.uitwix-sticky .ui-tabs-nav,
.uitwix-sticky nav > ul {
  background-color: var(--nav-background);
}
.uitwix-sticky .tabfilter-subfilter tr:first-child {
  cursor: pointer;
}
.uitwix-sticky .tabfilter-subfilter.uitwix-subfilter-collapsed tr:nth-child(n + 2) {
  display: none;
}
.uitwix-sticky.header-navigation {
  z-index: 101;
}
#uitwix input[type="color"] {
  padding: 0;
  border: 0;
  background-color: transparent;
  vertical-align: middle;
  margin-right: 5px;
  width: 22px;
  height: 22px;
  line-height: 22px;
}
#uitwix label {
  pointer-events: initial;
}
